.container{
    width: 800px;
    margin:0 auto;
    display: block;
}


#first-section .logo{
    width: 60px;
    height: 40px;
}

h1{
    color:orange;
    font-size: 3em;
    text-align: center;
}

.logo p{
    color:blue;
    font-size: 1em; /*que sude tamaño segun la ventana*/
}

#section-tabs .container-tabs{
    width: 100%;
    color: white;
    font-size: 1.5em;
    border-bottom: orange solid 1px;
}

.tab{
    color: white;
    background-color: orange;
    border-radius: 5px;
    border-bottom: none;
    padding: 10px;
    width: 100px;
}

.container-tabs li{
    display: inline-block;
    list-style: none;
}

.divImg, .divText{
    display: inline-block;
}

.image{
    width: 500px;
    height: 400px;
}