.container{
    width: 800px;
    margin:0 auto;
    display: block;
}

#first-section .logo{
    width: 60px;
    height: 40px;
}

#section-tabs .container-tabs{
    width: 100%;
    color: white;
    /* outline: 1px solid red; */
    margin-bottom: 0;
}

.tab{
    color: #000;
    background-color:#02EEFF;
    padding: 10px;
    width: 100px;
    border: none;
    margin-left: 10px;
    outline: none;
}

.container-tabs li{
    display: inline-block;
    list-style: none;
}

.divText , .divImg{
    display: inline-block;
    width: 300px;
    margin: 20px;
}

.divText p, .divText h2{
    display: inline-block;
} 
.image{
    width: 300px;
    height: 200px;
}

.divText{
    position: absolute;
    padding-left: 36px;
}

.container-tab{
    /* outline: 1px solid blue; */
    margin: 0;
    width: 700px;
    left: 50px;
    position: relative;
    background: #57D0E0 ;
    /* border-top: none; */
}

.blue{
    background: #57D0E0;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}
